Load the data. Data is already given to you in variable path

In [1]:
import numpy as np

In [2]:
data = '/content/KAG_Conversion_Data.csv'
data = np.genfromtxt(data, delimiter=",", skip_header=1,dtype=str)
print(data)

[['708746' '916' '103916' ... '1.429999948' '2' '1']
 ['708749' '916' '103917' ... '1.820000023' '2' '0']
 ['708771' '916' '103920' ... '0' '1' '0']
 ...
 ['1314412' '1178' '179979' ... '40.28999949' '2' '0']
 ['1314414' '1178' '179981' ... '198.7100005' '8' '2']
 ['1314415' '1178' '179982' ... '165.6099987' '5' '2']]

How many unique ad campaigns (xyzcampaignid) does this data contain ? And for how many times was each campaign run ?

In [3]:
unique = np.unique(data[:,1],return_counts=True)
unique_val = unique[0].astype(int)
unique_count = unique[1]
print("UNIQUE VALUES : ",unique_val,"\nCOUNT : ",unique_count)

UNIQUE VALUES :  [1178  916  936]
COUNT :  [625  54 464]

What are the age groups that were targeted through these ad campaigns?

In [4]:
age = data[:,3]
age

array(['30-34', '30-34', '30-34', ..., '45-49', '45-49', '45-49'],
      dtype='<U11')

In [5]:
print(np.unique(age))

['30-34' '35-39' '40-44' '45-49']

What was the average, minimum and maximum amount spent on the ads?

In [6]:
amnt = data[:,8]
amnt

array(['1.429999948', '1.820000023', '0', ..., '40.28999949',
       '198.7100005', '165.6099987'], dtype='<U11')

In [7]:
print("MIN : ",np.min(amnt.astype(float)))
print("MAX : ",np.max(amnt.astype(float)))
print("AVERAGE",np.mean(amnt.astype(float)))

MIN :  0.0
MAX :  639.9499981
AVERAGE 51.36065613141295

What is the id of the ad having the maximum number of clicks ?

In [8]:
id = data[:,0]
id

array(['708746', '708749', '708771', ..., '1314412', '1314414', '1314415'],
      dtype='<U11')

In [9]:
clicks = data[:,7]
print("max number of clicks ",np.max(clicks.astype(int)))

max number of clicks  421

In [10]:
maxCLICKS = np.max(clicks.astype(int))

In [11]:
index_of_maximum = np.where(clicks == maxCLICKS)
index_of_maximum

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  """Entry point for launching an IPython kernel.

(array([], dtype=int64),)

In [12]:
index_of_maximum_click = list((clicks).astype(int)).index(maxCLICKS)
print(id[index_of_maximum_click])

1121814

In [16]:
index_of_maximum = np.where(((clicks).astype(int)) == ((maxCLICKS).astype(int)))
index_of_maximum

(array([860]),)

In [37]:
print(" id of the ad having the maximum number of clicks",data[860,:])

 id of the ad having the maximum number of clicks ['1121814' '1178' '144659' '30-34' 'F' '27' '2223278' '421' '612.3000032'
 '38' '13']

How many people bought the product after seeing the ad with most clicks? Is that the maximum number of purchases in this dataset?

In [20]:
max_click_conversion = data[:,10][index_of_maximum_click ]
max_conversion = np.max(data[:,10].astype(int))
print("Conversion on maximum ad clicks : ",max_click_conversion)
if max_click_conversion==max_conversion:
  print("It is maximum purchase")
else:
  print("It is not maximum purchase")

Conversion on maximum ad clicks :  13
It is not maximum purchase

NO It is not  the maximum number of purchases in this dataset

So the ad with the most clicks didn't fetch the maximum number of purchases. Find the details of the product having maximum number of purchases

In [24]:

max_num_purchases = data[:,10]
print("max number of purchases",np.max(max_num_purchases.astype(float)))

max number of purchases 21.0

In [25]:
maxpurchases = max_num_purchases

In [28]:
max_value = np.max(max_num_purchases.astype(float))

In [34]:
index_of_maximum = np.where(((maxpurchases).astype(float)) == ((max_value).astype(int)))
index_of_maximum

(array([528]),)

In [36]:
print(" product having maximum number of purchases",data[528,:])

 product having maximum number of purchases ['1121104' '1178' '144533' '30-34' 'M' '16' '2080666' '202' '360.1500015'
 '40' '21']